body {
    background-color: black;
}
h1 { 
color: white; 
font-family: Verdana, Geneva, Tahoma, sans-serif; 
font-size: 50px;
text-align: center;
}
a {
    color: aquamarine;
    font-size: 16px;
}

/* .excursion-link {
    color: pink;
} */
p {
    text-align: center;
}
div {
    text-align: center;
}